
@font-face {
	font-family: 'ProximaNova';
	src: url('../font/ProximaNova-Bold.eot');
	src: url('../ProximaNova-Boldd41d.html?#iefix') format('embedded-opentype'),
		url('../font/ProximaNova-Bold.woff') format('woff'),
		url('../font/ProximaNova-Bold.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaCond';
	src: url('../font/ProximaNovaCond-Black.eot');
	src: url('../font/ProximaNovaCond-Blackd41d.eot?#iefix') format('embedded-opentype'),
		url('../font/ProximaNovaCond-Black.woff') format('woff'),
		url('../font/ProximaNovaCond-Black.ttf')  format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('../font/ProximaNova-Regular.eot');
	src: url('../font/ProximaNova-Regulard41d.eot?#iefix') format('embedded-opentype'),
		url('../font/ProximaNova-Regular.woff') format('woff'),
		url('../font/ProximaNova-Regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaT';
	src: url('../font/ProximaNovaT-Thin.eot');
	src: url('../font/ProximaNovaT-Thind41d.eot?#iefix') format('embedded-opentype'),
		url('../font/ProximaNovaT-Thin.woff') format('woff'),
		url('../font/ProximaNovaT-Thin.ttf')  format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaCond';
	src: url('../font/ProximaNovaCond-Light.eot');
	src: url('../font/ProximaNovaCond-Lightd41d.eot?#iefix') format('embedded-opentype'),
		url('../font/ProximaNovaCond-Light.woff') format('woff'),
		url('../font/ProximaNovaCond-Light.ttf')  format('truetype');
	font-weight: 300;
	font-style: normal;
}
/*
██╗  ██╗███████╗██╗     ██╗      ██████╗     ██╗    ██╗ ██████╗ ██████╗ ██╗     ██████╗
██║  ██║██╔════╝██║     ██║     ██╔═══██╗    ██║    ██║██╔═══██╗██╔══██╗██║     ██╔══██╗
███████║█████╗  ██║     ██║     ██║   ██║    ██║ █╗ ██║██║   ██║██████╔╝██║     ██║  ██║
██╔══██║██╔══╝  ██║     ██║     ██║   ██║    ██║███╗██║██║   ██║██╔══██╗██║     ██║  ██║
██║  ██║███████╗███████╗███████╗╚██████╔╝    ╚███╔███╔╝╚██████╔╝██║  ██║███████╗██████╔╝
╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝ ╚═════╝      ╚══╝╚══╝  ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═════╝

Greetings !

if (employer) {
  yes, I'm always looking for great opportunities;
}
else if (want a website) {
  ping me ! lets discuss how will I help you;
}
else if (geek) {
  hi, I love to be friends with like minded people.
  Message me, maybe we could help each other.
}
else {
  goto: www.linkedin.com/in/lavkushmaurya04
}
________________________________________________________________________________________

When I wrote this code, only God and I understood what I was doing
Now, God only knows

If you don't like anything on this website, bite me !
________________________________________________________________________________________

No copyright issues.
Feel free to copy anything and everything from this website.
If you need any help, ping me !
________________________________________________________________________________________

Cheers,
Lavkush Maurya
mailto: lavkushmaurya147@gmail.com
________________________________________________________________________________________

I sincerely admit ! Not everything thing you saw on the website was developed by me from
scratch, most of it is my original creation otherwise some of the elements are inspired
or reproduced from the open source public code.

SSSssshhhhh!! The code starts below */